<!DOCTYPE html>
<html>
<head>
  <title>Opay</title>
  <%= stylesheet_link_tag    "opay/application", :media => "all" %>
  <%= javascript_include_tag "opay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
